<h1> Tasks <small class="text-muted">get things done</small></h1>

<div class = "row">
  <div class = "col-10">
    <input id="task-title" [(ngModel)]="task_input" (keyup.enter)="addTask(task_input)">
  </div>
</div>

<ul class = "list-group">
  <li *ngFor="let task of tasks" class = "list-group-item" (click)="onSelect(task)">
    <div class = "row">
      <div class = "col-1">
          <a href="#" class="text-black">
            <svg class="bi me-2" width="24" height="24" role="img" aria-label="Checkbox">
              <use xlink:href="bootstrap-icons/bootstrap-icons.svg#check-square"></use>
            </svg>
          </a>

      </div>
      <div class = "col">
        <a routerLink="/tasks/{{ task.id }}">{{ task.title }}</a>
      </div>
      <div class = "col">
        <span *ngFor="let tag of task._tags" style="background-color: {{ tag.color }}; color: {{ getTagTextColor(tag.color) }}" class="badge m-1 tag">{{ tag.name }}</span>
      </div>
      <div class = "col">
        <div class = "btn-group btn-group-sm" role="toolbar" aria-label="task toolbar">
          <button type="button" class="btn btn-outline-primary">
            <svg class="bi me-2" width="16" height="16" role="img" aria-label="Trashcan">
              <use xlink:href="bootstrap-icons/bootstrap-icons.svg#pencil"></use>
            </svg>
          </button>

          <button type="button" class="btn btn-outline-danger" (click)="deleteTask(task)">
            <svg class="bi me-2" width="16" height="16" role="img" aria-label="Trashcan">
              <use xlink:href="bootstrap-icons/bootstrap-icons.svg#trash"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </li>
</ul>
