<h1> Tasks <small class="text-muted">get things done</small></h1>

<div class = "row mb-3 m-0">
    <input id="task-title" class="form-control" [(ngModel)]="task_input" (keyup.enter)="addTask(task_input)" placeholder="Mai multe task-uri ...">
</div>

<ul class = "list-group border-0">
  <li *ngFor="let task of tasks" class = "list-group-item border-0" (click)="onSelect(task)">
    <div class = "row">
      <div class = "col-1">
          <div href="" class="text-black" (click)="toggleTaskDone(task)">
            <svg class="bi me-2" width="16" height="16" role="img" aria-label="Checkbox">
              <use *ngIf="!task.completed" xlink:href="bootstrap-icons/bootstrap-icons.svg#square"></use>
              <use *ngIf="task.completed" xlink:href="bootstrap-icons/bootstrap-icons.svg#check-square"></use>
            </svg>
          </div>
      </div>
      <div class = "col-6">
        <a class="text-dark text-decoration-none" [ngClass]="{'text-decoration-line-through': task.completed}" routerLink="/tasks/{{ task.id }}">{{ task.title }}</a> <span class = "small text-muted m-2" *ngIf="task.completed">Completed on {{ task.completed_date | date}}</span>
        <p class = "small">{{ task.description }}</p>
      </div>
      <div class = "col-4 col-task-tags">
        <span *ngFor="let tag of task._tags" style="background-color: {{ tag.color }}; color: {{ tag | tagColor }}" class="badge m-1 tag">{{ tag.name }}</span>
      </div>
      <div class = "col-1 col-task-toolbar">
        <div class = "btn-group btn-group-sm" role="toolbar" aria-label="task toolbar">
          <button type="button" class="btn btn-outline-primary" routerLink="/tasks/{{ task.id }}">
            <svg class="bi" width="12" height="12" role="img" aria-label="Trashcan">
              <use xlink:href="bootstrap-icons/bootstrap-icons.svg#pencil"></use>
            </svg>
          </button>

          <button type="button" class="btn btn-outline-danger" (click)="deleteTask(task)">
            <svg class="bi" width="12" height="12" role="img" aria-label="Trashcan">
              <use xlink:href="bootstrap-icons/bootstrap-icons.svg#trash"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </li>
</ul>
