<form id="loginForm" [formGroup]="form" (ngSubmit)="doLogin()">
  <div class = "alert alert-danger" *ngIf="form.errors?.serverError">{{ form.errors?.serverError }}</div>
  <div class="mb-3">
    <label for="emailInput" class="form-label">Email address</label>
    <input formControlName="email" [ngClass]="{'is-invalid': form.get('email')?.invalid && processing}" name="email" type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" required>
    <div class="invalid-feedback" *ngIf="form.get('email')?.errors?.required">
      This field is required.
    </div>
    <div class="invalid-feedback" *ngIf="form.get('email')?.errors?.email">
      This field only accepts valid email addresses.
    </div>
    <div class="invalid-feedback" *ngIf="form.get('email')?.errors?.serverError">
      {{ form.get('email')?.errors?.serverError }}
    </div>
  </div>
  <div class="mb-3">
    <label for="passwordInput" class="form-label">Password</label>
    <input formControlName="password" [ngClass]="{'is-invalid': form.get('password')?.errors?.serverError}" name="password" type="password" class="form-control" id="passwordInput" required>
    <div class="invalid-feedback" *ngIf="form.get('password')?.errors?.serverError">
      {{ form.get('password')?.errors?.serverError }}
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="processing || !form.valid">

    <ng-container *ngIf="!processing; else isProcessing">Login</ng-container>
    <ng-template #isProcessing>Checking ...</ng-template>
  </button>
</form>
