<div class="container">
  <h1> {{ tasks?.length }} Tasks</h1>
  <p class="lead">get things done!</p>
  <div class="row" *ngFor="let task of tasks">
    <div class = "col-md-1">
        <div [ngClass]="{'fa': true, 'fa-square-o': !task.completed, 'fa-check-square-o': task.completed}" ng-click="item.toggle_completed()"></div>
        <i [ngClass]="['fa', task.priority_icon()]"></i>
    </div>
    <div class = "col-md-7">
        <span [ngClass]="{'strikethrough': task.completed}">{{ task.title }}</span>
      &nbsp; <span *ngIf="task.project" [ngClass]="{'label': true, 'label-success': true}">Project</span>
        <div class = "task-list-description" ng-show="item.task.description.length > 0"><small>{{ task.description | truncate:200 }}</small></div>
        <div class = "task-list-description"><small>{{ task.changed_date | date }}</small></div>
    </div>
    <div class = "col-md-3">
        <div class = "pull-right">
            <a href="" style="margin-right: 5px;" [style.background-color]="tag.color" [style.color]="tag.luminance()"
                  class = "badge badge-default" *ngFor="let tag of task.tags">
                {{ tag.name }}
            </a>
        </div>
    </div>
    <div class = "col-md-1">
        <div class = "btn-group btn-group-xs pull-right">
            <button type="button" class = "btn btn-outline-danger btn-sm"><div class = "fa fa-trash"></div></button>
        </div>
    </div>
  </div>
</div>
